body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

main.container-fluid {
    padding-right: 0;
}

#mapDiv {
    min-height: 100px;
    max-height: 1000px;
}

#mapParent {
    padding-right: 0;
    height: 100%;
}